[mysqld]
default-authentication-plugin=mysql_native_password
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
general_log_file = /var/log/mariadb/query.log
general_log = 1

[mysqld_safe]
default_authentication_plugin=mysql_native_password
log-error=/var/log/mariadb/mariadb.log
pid-file=/var/run/mariadb/mariadb.pid
general_log_file = /var/log/mariadb/query.log
general_log = 1

#
# include all files from the config directory
#
!includedir /etc/my.cnf.d

